body {
  font-family: 'Roboto', sans-serif;
  padding: 15px 25px;
  margin: 0;
}

img.avatar {
  border-radius: 50%;
  border: 1px solid black;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 100px;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 4px;
  float: left;
}

h2, h3 {
  clear: both;
}

h3 {
  padding-top: 20px;
}

nav#menu {
  float: right;
  margin: 5px;
  line-height: 2em;
}

header .current-user {
  display: block;
  clear: both;
  font-size: 0.7em;
  font-weight: bold;
  float: right;
  margin-right: 5px;
}

ul {
  margin: 5px 0px;
  padding: 0px;
  display: block;
  clear: right;

}

ul li {
  display: block;
  float: left;
  clear: both;
  list-style: none;
  line-height: 1.5em;
}

ul.games {
  margin-top: 10px;
}

ul.games li {
  width: 280px;
}

ul.participants li {
  padding-left: 5px;
}

li.game ul {
  margin: 0px;
  padding: 0px;
  clear: both;
}

li.game small {
  line-height: 3em;
}

li.game ul li {
  line-height: 2.7em;
  float: none;
}

li.game button {
  float: right;
  vertical-align: middle;
}

li label {
  line-height: 2em;
  display: inline-block;
  width: 150px;
}

li.game {
  display: block;
  float: left;
  clear: both;
  margin-bottom: 1em;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 7px;
}

li.game form {
  display: inline; 
}

nav#menu a {
  /*float: right;*/
}

nav#menu a, a.button, button {
  text-decoration: none;
  background: white;
  color: grey;
  font-size: 1em;
  padding: 5px;
  margin: 3px;
  border-radius: 7px;
  border: 1px grey solid;
}

nav#menu a:hover, a.button:hover, button:hover {
  color: white;
  background: black;
}

section#main {
  padding: 5px;
  font-color: #ccc;
}
div.stats {
  display: block;
  float: left;
  width: 300px;
  height: 250px;
}

div.stats table {
  width: 100%;
  text-align: center;
}

table {
  border-spacing: 0px;
}

tr.vs {
  background: #ccc;
}

tr.vs {
  font-weight: bold;
}

tr.highlight {
  background: black;
}

tr.highlight * {
  font-weight: bold;
  color: white;
}

ul.flashes {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

ul.flashes li {
  animation: fadeOut 1s forwards;
  animation-delay: 2s;
	width: 100%;
	text-align: center;
	padding: 5px;
	margin: 0;
	font-weight: bold;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

ul.flashes li.error {
	background: #991009;
	color: white;
}

ul.flashes li.fyi {
	background: #17891f;
	color: white;
}

form.picker {
  visibility: hidden;
}

.game.playing form.join {
  display: none;
}

.game.not-playing form.leave,
.game.not-playing form.finish {
  display: none;
}

.participants .me form.picker,
.game.not-playing form.picker,
.game.not-playing button.finish {
  display: none;
}

button.finish {
  float: none !important;
  margin-top: 8px;
}

button.finish.participants1 {
  display: none;
}
