{% extends "base.html" %}
{% block title %}spreadee - games{% endblock %}
{% block links %}<meta http-equiv="refresh" content="5" />{% endblock %}
{% block content %}
    <h2>Games</h2>
    <a class="button" href="/game"> <i class="fa fa-gamepad fa-lg"></i> <span>Create a game</span></a>
    <ul class="games">
    {% for g in games %}
    <li id="game{{ g['id'] }}" class="game {{ 'not-playing' if current_user not in g['participants'] else 'playing' }}">
      <div><i class="fa fa-users fa-lg"></i> <b>{{g['tournament']['name']}}</b></div>
      <small>Created {{g['created'] | duration}}</small>
      <form class='join' method="post" action="{{url_for('game', game_id=g.id)}}">
        <input type="hidden" name="action" value="join">
        <button style="float: right" type="submit"><i class="fa fa-user-plus fa-lg"></i> Join </button>
      </form>
      <form class='leave' method="post" action="{{url_for('game', game_id=g.id)}}">
        <input type="hidden" name="action" value="leave">
        <button style="float: right" type="submit"><i class="fa fa-sign-out fa-lg"></i> Leave </button>
      </form>
      <ul class="participants">
        {% for p in g['participants'] %}
          <li class="{{ 'creator' if p['id'] == g['creator']['id'] }} {{ 'me' if p == current_user }}">
            <img class="avatar" src="{{p['avatar']}}"/>
            <span clas="name">{{ p.name }}</span>
              <form class='picker' method="post" action="{{url_for('game', game_id=g.id)}}">
                <input type="hidden" name="winner_id" value="{{p['id']}}"/>
                <button type="submit"><i class="fa fa-trophy fa-lg"></i> Winner </button>
              </form>
          </li>
        {% endfor %}
      </ul>
      <button class="finish participants{{ g['participants'] | length }}" data-game="game{{g['id']}}"><i class="fa fa-trophy fa-lg"></i> Pick the winner </button>
    </li>
    {% endfor %}
    </ul>
    <div style="clear: both"/>
    <h3>Recent games</h3>
    <ul class="games finished">
    {% for g in finished %}
    <li id="game{{ g['id'] }}" class="game {{ 'not-playing' if current_user not in g['participants'] else 'playing' }}">
      <div><i class="fa fa-users fa-lg"></i> <b>{{g['tournament']['name']}}</b></div>
      <small>Finished {{g['finished'] | duration}}</small>
      <ul class="participants">
        {% for p in g['participants'] %}
          <li class="{{ 'creator' if p['id'] == g['creator']['id'] }} {{ 'me' if p == current_user }}">
            <img class="avatar" src="{{p['avatar']}}"/>
            <span clas="name">{{ p.name }}</span>
            {% if p['id'] == g['winner_id'] %}
              <i class="fa fa-trophy fa-lg"></i>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
    </ul>
<script>
$(document).ready(function(){
    $("button.finish").click(function(){
        $(this).hide();
        $('#'+$(this).data('game')+' .picker').css('visibility', 'visible');
    });
});
</script>
{% endblock %}
