{% extends "base.html" %}
{% block title %}spreadee - new game{% endblock %}
{% block content %}
    <h1>Create a game</h1>
    <form method="POST">
      <ul>
        <li>
          {{ form.tournament_id.label }}
          {{ form.tournament_id }}
        </li>
        <li>
          <button type="submit">
            <i class="fa fa-gamepad fa-lg"></i>
            Create
          </button>
        </li>
      </ul>
    </form>
{% endblock %}
