{% extends "base.html" %}
{% block title %}spreadee - stats{% endblock %}
{% block links %}<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>{% endblock %}
{% block content %}
    <h2>Stats for {{ "You" if selected_user == current_user else selected_user.name }}</h2>
    {% if streak|length > 0 %}
    <p class="streak">
    {% if streak[0]['streak'] == 1 %}
      {{ "Won" if streak[0]['result'] == "win" else "Lost" }} {{ "their" if selected_user != current_user else "your" }} last game.
    {% else %}
      Currently on a {{ streak[0]['streak']|string + " game" if streak[0]['streak'] > 2 }} {{ "winning" if streak[0]['result'] == "win" else "losing" }} {{ "streak" if streak[0]['streak'] > 2 else "hat-trick" }}.
    {% endif %}
    </p>
    {% endif %}
    <div class="stats">
    <table>
      <tr>
        <th>Player</th>
        <th>P</th>
        <th>W</th>
        <th>L</th>
        <th>Rating</th>
      </tr>
      {% for r in ladder %}
      <tr class="{{ "highlight" if r['id']==selected_user.id }} {{ "vs" if r['id'] == current_user.id and selected_user.id != current_user.id }}">
        <td style="text-align: left;"><a href="{{url_for('stats', user_id=r['id'])}}">{{r['name']}}</a></td>
        <td style="text-align: center;">{{r['wins']+r['losses']}}</td>
        <td style="text-align: center;">{{r['wins']}}</td>
        <td style="text-align: center;">{{r['losses']}}</td>
        <td style="text-align: center;">{{"{0:0.2f}".format(r['rating'])}}</td>
      </tr>
      {% endfor %}
    </table>
    </div>
    {% if results %}
    <div class="stats">
      <table>
        <tr>
          <th>Opponent</th>
          <th>P</th>
          <th>W</th>
          <th>L</th>
          <th>Avg Time</th>
        </tr>
      {% for r in foes %}
        <tr>
          <td>{{r['name']}}</td>
          <td>{{r['total']}}</td>
          <td>{{r['wins']}}</td>
          <td>{{r['loss']}}</td>
          <td>{{r['duration']|int}} mins</td>
        </tr>
      {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if results %}
    <div class="stats">
      <table>
        <tr>
          <th>Game</th>
          <th>Outcome</th>
        </tr>
      {% for r in results %}
        <tr>
          <td style="text-align: center; width: 100px">{{r['rowid']|th}}</td>
          <td>{{r['result']}}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
    {% endif %}
    <div class="stats">
      <canvas id="winloss" width="250" height="250"></canvas>
    </div>
    <div class="stats">
      <canvas id="timesplit" width="300" height="250"></canvas>
    </div>
<script>
var ctx = document.getElementById("winloss");
var tsc = document.getElementById("timesplit");
{% if versus %}
winloss_data = {
    datasets: [{
        data: [{{versus[0]['wins']}},{{versus[0]['noone']}},{{versus[0]['losses']}}],
        backgroundColor: [
          'rgba(0, 200, 0, 0.8)',
          'rgba(192, 192, 192, 0.8)',
          'rgba(255, 0, 0, 0.8)',
        ]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'You Won',
        'Neither won',
        '{{selected_user.name}} won',
    ]
};
options = {
  responsive: true,
  maintainAspectRatio: false,    
  legend: {
    display: false,
  },
  title: {
    display: true,
    text: "You vs {{selected_user.name}}",
  }
}
{% else %}
winloss_data = {
    datasets: [{
        data: [{{won|length}}, {{played|length - won|length}}],
        backgroundColor: [
          'rgba(0, 200, 0, 0.8)',
          'rgba(255, 0, 0, 0.8)',
        ]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Won',
        'Lost',
    ]
};
options = {
  responsive: true,
  maintainAspectRatio: false,    
}
{% endif %}

timesplit_data = {
  labels: [ {% for r in timesplit %}{{ r['taken'] if r['taken'] else "0"}},{% endfor %} ],
  datasets: [{
    type: 'bar',
    label: 'Game durations',
    backgroundColor: "rgba(0, 0, 255, 0.8)",
    fill: true,
    data: [ {% for r in timesplit %}{{ r['n'] }},{% endfor %} ]
  }]
}

var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: winloss_data,
    options: options,
});

var timesplitChart = new Chart(tsc, {
  type: 'bar',
  data: timesplit_data,
  options: {
    scales: {
        xAxes: [{
            scaleLabel: {
              labelString: "Minutes",
              display: true,
            },
        }],
        yAxes: [{
            ticks: {
                suggestedMax: 5,
                min: 0,
                stepSize: 1
            },
            scaleLabel: {
              labelString: "occourance",
              display: true,
            },
        }]
    }
},
});
</script>
{% endblock %}
