{% extends "base.html" %}
{% block title %}spready tournaments{% endblock %}
{% block content %}
    <h1>Tournaments</h1>
    <ul class="tournaments">
    {% for t in tournaments %}
    <li class="tournament">
      <a href="{{ url_for('games', tournament_id=t.id) }}">
        <span>{{t['name']}} ({{t['game_type']}})</span>
      </a>
    </li>
    {% endfor %}
    </ul>

{% endblock %}
